#SPDX-License-Identifier: MIT-0
---
# tasks file for s4
tasks:
  - amazon.aws.s3_bucket:
      {% if s4.endpointPort %}
      endpoint_url: "{{ s4.endpointProtocol }}://{{ s4.endpointAddress }}"
      {% else %}
      endpoint_url: "{{ s4.endpointProtocol }}://{{ s4.endpointAddress }}:{{ s4.endpointPort }}"
      {% endif %}
      name: {{ item }}
      state: present
      access_key: {{ s4.endpointUser }}
      secret_key: {{ s4.endpointPassword }}
    loop: {{ s4.buckets }}
